<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804699479121-nlio9t2jmvf3p8i058m1t19dmoqmnk71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804699479121-nlio9t2jmvf3p8i058m1t19dmoqmnk71</string>
	<key>API_KEY</key>
	<string>AIzaSyCbTv8iKeQcU1G5jW1i8j0KaUpGYfNPPm4</string>
	<key>GCM_SENDER_ID</key>
	<string>804699479121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>epschools.ACSCJA</string>
	<key>PROJECT_ID</key>
	<string>acs-database</string>
	<key>STORAGE_BUCKET</key>
	<string>acs-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804699479121:ios:9dcea951d63a796689ac70</string>
	<key>DATABASE_URL</key>
	<string>https://acs-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>